.cat-product-card {
  margin-bottom: 30px;
  border-radius: 20px;
  max-width: 80%;
  background-color: var(--second200);
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cat-product-card-img {
  border-radius: 20px;
}

.cat-card-title, .cat-card-price {
  text-align: center;
  color: var(--text400);
}

.cat-card-title {
  font-weight: bold;
}