.navbar-img {
  height: 5vw;
  max-height: 70px;
}

.nav-title {
  color: var(--text400);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--text300);
  text-decoration: underline;
}

.nav-cart-badge {
  background-color: var(--third400);
}

.nav-gap {
  gap: 24px;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  font-size: 20px;
}


@media (max-width: 992px) {
  .navbar-img {
    height: 16vw;
  }
}

@media (max-width: 768px) {
  .nav-icon-container {
    flex-direction: column;
    gap: 4px;
    max-width: 80px;
  }
}

@media (max-width: 480px) {
  .nav-icon {
    font-size: 16px;
  }
}