.jumbotron-container {
  background-image: url('../../assets/img/jumbotron_img.webp');
  height: 520px;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.jumbotron-img {
  border-radius: 60px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.jumbotron-btn {
  background-color: var(--first400);
  border: 4px solid var(--first400);
  border-radius: 30px;
  color: var(--text400);
  font-size: 24px;
  padding: 10px 40px;
}

.jumbotron-btn:hover {
  border: 4px dashed var(--text400);
}

.jumbotron-link {
  color: var(--text400);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .jumbotron-btn {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .jumbotron-container {
    background-image: url('../../assets/img/jumbotron_img_480.webp');
    height: 400px;
    background-size: cover;
  }
}