.footer a {
  color: var(--third300);
  text-decoration: none;
  transition: 0.3s;
}

.footer a:hover {
  color: var(--third300);
}

.footer-icons {
  text-align: right;
}

@media (max-width: 768px) {
  .footer-icons, .footer-text {
    text-align: center;
    margin-top: 10px;
  }
}