@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Lily+Script+One&family=Signika+Negative&display=swap');

:root {
  --first400: #bfabdb;
  --first500: #a88dd1;
  --second300: #fdf4de;
  --second400: #F6E6C2;
  --third200: #e9f7fa;
  --third300: #cfebf1;
  --third400: #a5dce9;
  --third500: #66cae0;
  --text300: #866e58;
  --text400: #64472E;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  font-family: 'Signika Negative', sans-serif;
  color: var(--text400);
}

.bg-first {
  background-color: var(--first400);
}

.bg-second {
  background-color: var(--second400);
}

.bg-third {
  background-color: var(--third300);
}

.bg-pattern {
  background-image: url("../src/assets/img/worn_dots.png");
}

.rounded-custom {
  border-radius: 60px;
}

.dash-border {
  border: var(--text300) dashed 4px;
}

/* RESPONSIVE FONT SIZES */
.resp-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Chelsea Market', cursive;
  margin-bottom: 80px;
}

.resp-p {
  font-size: 26px;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .resp-title {
      font-size: 30px;
  }

  .resp-p {
      font-size: 20px;
  }
}

