@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Lily+Script+One&family=Signika+Negative&display=swap');

:root {
  --first300: #d5c8e7;
  --first400: #bfabdb;
  --first500: #a88dd1;
  --second200: #fffbf1;
  --second300: #fdf4de;
  --second400: #F6E6C2;
  --third200: #e9f7fa;
  --third300: #cfebf1;
  --third400: #a5dce9;
  --third500: #66cae0;
  --text300: #866e58;
  --text400: #64472E;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  font-family: 'Signika Negative', sans-serif;
  color: var(--text400);
}

.bg-first {
  background-color: var(--first400);
}

.bg-second {
  background-color: var(--second400);
}

.bg-third {
  background-color: var(--third300);
}

.bg-pattern {
  background-image: url("../src/assets/img/worn_dots.png");
}

.custom-btn {
  background-color: var(--third400);
  border: var(--third400) solid 4px;
  color: var(--text400);
  border-radius: 20px;
  padding: 10px 20px;
}

.custom-btn:hover {
  border: var(--text300) dashed 4px;
}

.swal-btn {
  background-color: var(--first400);
  border: 4px solid var(--first400);
  color: var(--text400);
  font-size: 24px;
  font-weight: bold;
}

.swal-btn:hover {
  border: 4px dashed var(--text400);
}
